.signup-form {
    margin-top: 20px;
    border: 2px solid #d6d1d1;
    width: 300px;
    border-radius: 5px;
    padding: 10px 50px;
    margin-left: 410px;
}

.signup-form form input {
    width: 300px;
    border: none;
    border-bottom: 1px solid #d4cfcfb2;
    font-size: 16px;
    margin: 18px 0;
    margin-top: -5px;
}

.signup-form form .submit-btn {
    width: 305px;
    font-size: 14px;
    padding: 5px 5px;
    color: azure;
    background-color: tomato;
    border: 1px solid #afaaaa;
}

.toggle-sign {
    display: flex;
}

.toggle-sign input {
    margin-top: 5px;
}

.signin-signout {
    text-align: center;
}

.signin-signout button {
    width: 300px;
    padding: 5px 5px;
    border: 1px solid #a7a2a2b2;
    border-radius: 20px;
    background-color: transparent;
    margin: 5px;
}